/node_modules
/public/hot
/public/storage

# compiled files, manifests, and maps
/public/js/chunks
/public/css/*
/public/js/*
/public/sw.js*
/public/manifest.js*
/public/vendor.js*
/public/mix-manifest.json

!.gitkeep

/storage/*.key
/vendor
/.idea
npm-debug.log
yarn-error.log
.env
*.zip
*.map

