// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$gray: #6b6b6b;


// color palette
$coral: #ef6c57;
$primary: #7ed3b2;
$primaryLight: #b9e6d3;
$secondary: $coral;
$tertiary: #f2f2f2;
