// Colors
$fontPrimary: 'Dosis', sans-serif;
$fontSecondary: 'Josefin Sans', sans-serif;
$fontTertiary: 'Indie Flower', cursive;

$fontDosis: $fontPrimary;
$fontJosefin: $fontSecondary;
$fontIndieFlower: $fontTertiary;
