@import "../fonts";
@import "../colors";

#listings__list {
  position: relative;
  height: 100%;

  .listings__fetching {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: transparentize($white, .2);
    z-index: 1;
    color: $black;

    i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .listing {
    border-bottom: 2px solid $primary;
    box-shadow: 0 0 13px -6px;

    &.active {
      box-shadow: inset 10px 0px 0px -3px $secondary
    }

    .listing__main-info {
      position: relative;
      padding: 30px 0;
      max-height: 180px;

      &.has-image {
        padding: 60px 0 0;
      }

      .listing__featured-image {

        .featured-image__blur,
        .featured-image__image {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-size: contain;
          background-position: center;
        }

        .featured-image__blur {
          filter: blur(10px);
          background-size: cover;
        }

        .featured-image__image {
          background-repeat: no-repeat;
        }

        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          background: transparentize(#000, .6);
        }
      }

      .listing__title {
        font-size: 24px;
        font-weight: bold;
        color: $secondary;
      }

      .listing__address {
        font-size: 14px;
      }

      &.has-image {
        overflow: hidden;

        .listing__address {
          color: white;
        }

      }
    }

    .listing-wrap {
      margin-bottom: 10px;
    }

    .listing__content {
      position: relative;
      padding: 10px 20px;
    }
  }


  .listing__actions {
    margin: 20px 0;

    ul {
      margin: 0;
    }
  }
}
