@import '../../../node_modules/bootstrap/scss/mixins/breakpoints';
@import '../../sass/_colors.scss';

.search-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;

  &.filters {
    justify-content: flex-end;
  }

  .search-input {
    border-color: $tertiary;
    border-right: 0;
    min-width: 300px;

    &:active,
    &:focus {
      outline: 0;
      box-shadow: none;
    }
  }

  .input-group {
    flex-wrap: nowrap;
  }

  #search-button {
    border-color: $tertiary;
    border-left: 0;
  }

}
