$navbar_height: 58px;

.listings-index {

  .listings__section {
    height: calc(100vh - #{$navbar_height});
    overflow: hidden;
  }

  .listings__wrap {
    padding: 20px;
    overflow: auto;
  }
}
